In [4]:
import pandas as pd # import biblioteki pandas

In [7]:
data = pd.read_csv("Python_pokemon_data.csv") # import dataset'u i zapisanie go w zmiennej

In [8]:
data.head() # pierwsze 5 rekordów

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [9]:
data.tail() # ostatnie 5 rekordów

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [11]:
data.shape # ilosc wierszy i kolumn

(800, 12)

In [12]:
len(data) # ilość wierszy

800

In [13]:
data.index # numery wierszy

RangeIndex(start=0, stop=800, step=1)

In [14]:
data.dtypes # typy danych (w kolumnach)

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [15]:
data.describe() # podstawowe dane statystyczne

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [17]:
data.info() # podsumowanie dataset'u

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
#             800 non-null int64
Name          800 non-null object
Type 1        800 non-null object
Type 2        414 non-null object
HP            800 non-null int64
Attack        800 non-null int64
Defense       800 non-null int64
Sp. Atk       800 non-null int64
Sp. Def       800 non-null int64
Speed         800 non-null int64
Generation    800 non-null int64
Legendary     800 non-null bool
dtypes: bool(1), int64(8), object(3)
memory usage: 69.7+ KB

In [18]:
data.columns # nazwy kolumn

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [19]:
data.values # dane bez nazw kolumn i numerów wierszy

array([[1, 'Bulbasaur', 'Grass', ..., 45, 1, False],
       [2, 'Ivysaur', 'Grass', ..., 60, 1, False],
       [3, 'Venusaur', 'Grass', ..., 80, 1, False],
       ...,
       [720, 'HoopaHoopa Confined', 'Psychic', ..., 70, 6, True],
       [720, 'HoopaHoopa Unbound', 'Psychic', ..., 80, 6, True],
       [721, 'Volcanion', 'Fire', ..., 70, 6, True]], dtype=object)

In [20]:
kolumny = data.columns # opisy kolumn zapisane do zmiennej
nr_wierszy = data.index # numery wierszy zapisane do zmiennej
dane = data.values # dane zapisane do zmiennej

In [21]:
print(kolumny)

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [22]:
print(kolumny[0:5]) # wypisuje przedział od elementu 0 do 5

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP'], dtype='object')

In [26]:
opis_kolumn = [] # tworzy pustą listę
for i in range(len(kolumny)):
    nowa_nazwa = "pokemon "+str(i)
    opis_kolumn.append(nowa_nazwa)
print(opis_kolumn)

['pokemon 0', 'pokemon 1', 'pokemon 2', 'pokemon 3', 'pokemon 4', 'pokemon 5', 'pokemon 6', 'pokemon 7', 'pokemon 8', 'pokemon 9', 'pokemon 10', 'pokemon 11']

In [27]:
data.columns = opis_kolumn

In [28]:
data.head()

,pokemon 0,pokemon 1,pokemon 2,pokemon 3,pokemon 4,pokemon 5,pokemon 6,pokemon 7,pokemon 8,pokemon 9,pokemon 10,pokemon 11
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [29]:
indeks_wierszy = []
for i in range(len(nr_wierszy)):
    nazwa_nowa = "wiersz "+str(i)
    indeks_wierszy.append(nazwa_nowa)
print(indeks_wierszy)

['wiersz 0', 'wiersz 1', 'wiersz 2', 'wiersz 3', 'wiersz 4', 'wiersz 5', 'wiersz 6', 'wiersz 7', 'wiersz 8', 'wiersz 9', 'wiersz 10', 'wiersz 11', 'wiersz 12', 'wiersz 13', 'wiersz 14', 'wiersz 15', 'wiersz 16', 'wiersz 17', 'wiersz 18', 'wiersz 19', 'wiersz 20', 'wiersz 21', 'wiersz 22', 'wiersz 23', 'wiersz 24', 'wiersz 25', 'wiersz 26', 'wiersz 27', 'wiersz 28', 'wiersz 29', 'wiersz 30', 'wiersz 31', 'wiersz 32', 'wiersz 33', 'wiersz 34', 'wiersz 35', 'wiersz 36', 'wiersz 37', 'wiersz 38', 'wiersz 39', 'wiersz 40', 'wiersz 41', 'wiersz 42', 'wiersz 43', 'wiersz 44', 'wiersz 45', 'wiersz 46', 'wiersz 47', 'wiersz 48', 'wiersz 49', 'wiersz 50', 'wiersz 51', 'wiersz 52', 'wiersz 53', 'wiersz 54', 'wiersz 55', 'wiersz 56', 'wiersz 57', 'wiersz 58', 'wiersz 59', 'wiersz 60', 'wiersz 61', 'wiersz 62', 'wiersz 63', 'wiersz 64', 'wiersz 65', 'wiersz 66', 'wiersz 67', 'wiersz 68', 'wiersz 69', 'wiersz 70', 'wiersz 71', 'wiersz 72', 'wiersz 73', 'wiersz 74', 'wiersz 75', 'wiersz 76', 'wiersz 77', 'wiersz 78', 'wiersz 79', 'wiersz 80', 'wiersz 81', 'wiersz 82', 'wiersz 83', 'wiersz 84', 'wiersz 85', 'wiersz 86', 'wiersz 87', 'wiersz 88', 'wiersz 89', 'wiersz 90', 'wiersz 91', 'wiersz 92', 'wiersz 93', 'wiersz 94', 'wiersz 95', 'wiersz 96', 'wiersz 97', 'wiersz 98', 'wiersz 99', 'wiersz 100', 'wiersz 101', 'wiersz 102', 'wiersz 103', 'wiersz 104', 'wiersz 105', 'wiersz 106', 'wiersz 107', 'wiersz 108', 'wiersz 109', 'wiersz 110', 'wiersz 111', 'wiersz 112', 'wiersz 113', 'wiersz 114', 'wiersz 115', 'wiersz 116', 'wiersz 117', 'wiersz 118', 'wiersz 119', 'wiersz 120', 'wiersz 121', 'wiersz 122', 'wiersz 123', 'wiersz 124', 'wiersz 125', 'wiersz 126', 'wiersz 127', 'wiersz 128', 'wiersz 129', 'wiersz 130', 'wiersz 131', 'wiersz 132', 'wiersz 133', 'wiersz 134', 'wiersz 135', 'wiersz 136', 'wiersz 137', 'wiersz 138', 'wiersz 139', 'wiersz 140', 'wiersz 141', 'wiersz 142', 'wiersz 143', 'wiersz 144', 'wiersz 145', 'wiersz 146', 'wiersz 147', 'wiersz 148', 'wiersz 149', 'wiersz 150', 'wiersz 151', 'wiersz 152', 'wiersz 153', 'wiersz 154', 'wiersz 155', 'wiersz 156', 'wiersz 157', 'wiersz 158', 'wiersz 159', 'wiersz 160', 'wiersz 161', 'wiersz 162', 'wiersz 163', 'wiersz 164', 'wiersz 165', 'wiersz 166', 'wiersz 167', 'wiersz 168', 'wiersz 169', 'wiersz 170', 'wiersz 171', 'wiersz 172', 'wiersz 173', 'wiersz 174', 'wiersz 175', 'wiersz 176', 'wiersz 177', 'wiersz 178', 'wiersz 179', 'wiersz 180', 'wiersz 181', 'wiersz 182', 'wiersz 183', 'wiersz 184', 'wiersz 185', 'wiersz 186', 'wiersz 187', 'wiersz 188', 'wiersz 189', 'wiersz 190', 'wiersz 191', 'wiersz 192', 'wiersz 193', 'wiersz 194', 'wiersz 195', 'wiersz 196', 'wiersz 197', 'wiersz 198', 'wiersz 199', 'wiersz 200', 'wiersz 201', 'wiersz 202', 'wiersz 203', 'wiersz 204', 'wiersz 205', 'wiersz 206', 'wiersz 207', 'wiersz 208', 'wiersz 209', 'wiersz 210', 'wiersz 211', 'wiersz 212', 'wiersz 213', 'wiersz 214', 'wiersz 215', 'wiersz 216', 'wiersz 217', 'wiersz 218', 'wiersz 219', 'wiersz 220', 'wiersz 221', 'wiersz 222', 'wiersz 223', 'wiersz 224', 'wiersz 225', 'wiersz 226', 'wiersz 227', 'wiersz 228', 'wiersz 229', 'wiersz 230', 'wiersz 231', 'wiersz 232', 'wiersz 233', 'wiersz 234', 'wiersz 235', 'wiersz 236', 'wiersz 237', 'wiersz 238', 'wiersz 239', 'wiersz 240', 'wiersz 241', 'wiersz 242', 'wiersz 243', 'wiersz 244', 'wiersz 245', 'wiersz 246', 'wiersz 247', 'wiersz 248', 'wiersz 249', 'wiersz 250', 'wiersz 251', 'wiersz 252', 'wiersz 253', 'wiersz 254', 'wiersz 255', 'wiersz 256', 'wiersz 257', 'wiersz 258', 'wiersz 259', 'wiersz 260', 'wiersz 261', 'wiersz 262', 'wiersz 263', 'wiersz 264', 'wiersz 265', 'wiersz 266', 'wiersz 267', 'wiersz 268', 'wiersz 269', 'wiersz 270', 'wiersz 271', 'wiersz 272', 'wiersz 273', 'wiersz 274', 'wiersz 275', 'wiersz 276', 'wiersz 277', 'wiersz 278', 'wiersz 279', 'wiersz 280', 'wiersz 281', 'wiersz 282', 'wiersz 283', 'wiersz 284', 'wiersz 285', 'wiersz 286', 'wiersz 287', 'wiersz 288', 'wiersz 289', 'wiersz 290', 'wiersz 291', 'wiersz 292', 'wiersz 293', 'wiersz 294', 'wiersz 295', 'wiersz 296', 'wiersz 297', 'wiersz 298', 'wiersz 299', 'wiersz 300', 'wiersz 301', 'wiersz 302', 'wiersz 303', 'wiersz 304', 'wiersz 305', 'wiersz 306', 'wiersz 307', 'wiersz 308', 'wiersz 309', 'wiersz 310', 'wiersz 311', 'wiersz 312', 'wiersz 313', 'wiersz 314', 'wiersz 315', 'wiersz 316', 'wiersz 317', 'wiersz 318', 'wiersz 319', 'wiersz 320', 'wiersz 321', 'wiersz 322', 'wiersz 323', 'wiersz 324', 'wiersz 325', 'wiersz 326', 'wiersz 327', 'wiersz 328', 'wiersz 329', 'wiersz 330', 'wiersz 331', 'wiersz 332', 'wiersz 333', 'wiersz 334', 'wiersz 335', 'wiersz 336', 'wiersz 337', 'wiersz 338', 'wiersz 339', 'wiersz 340', 'wiersz 341', 'wiersz 342', 'wiersz 343', 'wiersz 344', 'wiersz 345', 'wiersz 346', 'wiersz 347', 'wiersz 348', 'wiersz 349', 'wiersz 350', 'wiersz 351', 'wiersz 352', 'wiersz 353', 'wiersz 354', 'wiersz 355', 'wiersz 356', 'wiersz 357', 'wiersz 358', 'wiersz 359', 'wiersz 360', 'wiersz 361', 'wiersz 362', 'wiersz 363', 'wiersz 364', 'wiersz 365', 'wiersz 366', 'wiersz 367', 'wiersz 368', 'wiersz 369', 'wiersz 370', 'wiersz 371', 'wiersz 372', 'wiersz 373', 'wiersz 374', 'wiersz 375', 'wiersz 376', 'wiersz 377', 'wiersz 378', 'wiersz 379', 'wiersz 380', 'wiersz 381', 'wiersz 382', 'wiersz 383', 'wiersz 384', 'wiersz 385', 'wiersz 386', 'wiersz 387', 'wiersz 388', 'wiersz 389', 'wiersz 390', 'wiersz 391', 'wiersz 392', 'wiersz 393', 'wiersz 394', 'wiersz 395', 'wiersz 396', 'wiersz 397', 'wiersz 398', 'wiersz 399', 'wiersz 400', 'wiersz 401', 'wiersz 402', 'wiersz 403', 'wiersz 404', 'wiersz 405', 'wiersz 406', 'wiersz 407', 'wiersz 408', 'wiersz 409', 'wiersz 410', 'wiersz 411', 'wiersz 412', 'wiersz 413', 'wiersz 414', 'wiersz 415', 'wiersz 416', 'wiersz 417', 'wiersz 418', 'wiersz 419', 'wiersz 420', 'wiersz 421', 'wiersz 422', 'wiersz 423', 'wiersz 424', 'wiersz 425', 'wiersz 426', 'wiersz 427', 'wiersz 428', 'wiersz 429', 'wiersz 430', 'wiersz 431', 'wiersz 432', 'wiersz 433', 'wiersz 434', 'wiersz 435', 'wiersz 436', 'wiersz 437', 'wiersz 438', 'wiersz 439', 'wiersz 440', 'wiersz 441', 'wiersz 442', 'wiersz 443', 'wiersz 444', 'wiersz 445', 'wiersz 446', 'wiersz 447', 'wiersz 448', 'wiersz 449', 'wiersz 450', 'wiersz 451', 'wiersz 452', 'wiersz 453', 'wiersz 454', 'wiersz 455', 'wiersz 456', 'wiersz 457', 'wiersz 458', 'wiersz 459', 'wiersz 460', 'wiersz 461', 'wiersz 462', 'wiersz 463', 'wiersz 464', 'wiersz 465', 'wiersz 466', 'wiersz 467', 'wiersz 468', 'wiersz 469', 'wiersz 470', 'wiersz 471', 'wiersz 472', 'wiersz 473', 'wiersz 474', 'wiersz 475', 'wiersz 476', 'wiersz 477', 'wiersz 478', 'wiersz 479', 'wiersz 480', 'wiersz 481', 'wiersz 482', 'wiersz 483', 'wiersz 484', 'wiersz 485', 'wiersz 486', 'wiersz 487', 'wiersz 488', 'wiersz 489', 'wiersz 490', 'wiersz 491', 'wiersz 492', 'wiersz 493', 'wiersz 494', 'wiersz 495', 'wiersz 496', 'wiersz 497', 'wiersz 498', 'wiersz 499', 'wiersz 500', 'wiersz 501', 'wiersz 502', 'wiersz 503', 'wiersz 504', 'wiersz 505', 'wiersz 506', 'wiersz 507', 'wiersz 508', 'wiersz 509', 'wiersz 510', 'wiersz 511', 'wiersz 512', 'wiersz 513', 'wiersz 514', 'wiersz 515', 'wiersz 516', 'wiersz 517', 'wiersz 518', 'wiersz 519', 'wiersz 520', 'wiersz 521', 'wiersz 522', 'wiersz 523', 'wiersz 524', 'wiersz 525', 'wiersz 526', 'wiersz 527', 'wiersz 528', 'wiersz 529', 'wiersz 530', 'wiersz 531', 'wiersz 532', 'wiersz 533', 'wiersz 534', 'wiersz 535', 'wiersz 536', 'wiersz 537', 'wiersz 538', 'wiersz 539', 'wiersz 540', 'wiersz 541', 'wiersz 542', 'wiersz 543', 'wiersz 544', 'wiersz 545', 'wiersz 546', 'wiersz 547', 'wiersz 548', 'wiersz 549', 'wiersz 550', 'wiersz 551', 'wiersz 552', 'wiersz 553', 'wiersz 554', 'wiersz 555', 'wiersz 556', 'wiersz 557', 'wiersz 558', 'wiersz 559', 'wiersz 560', 'wiersz 561', 'wiersz 562', 'wiersz 563', 'wiersz 564', 'wiersz 565', 'wiersz 566', 'wiersz 567', 'wiersz 568', 'wiersz 569', 'wiersz 570', 'wiersz 571', 'wiersz 572', 'wiersz 573', 'wiersz 574', 'wiersz 575', 'wiersz 576', 'wiersz 577', 'wiersz 578', 'wiersz 579', 'wiersz 580', 'wiersz 581', 'wiersz 582', 'wiersz 583', 'wiersz 584', 'wiersz 585', 'wiersz 586', 'wiersz 587', 'wiersz 588', 'wiersz 589', 'wiersz 590', 'wiersz 591', 'wiersz 592', 'wiersz 593', 'wiersz 594', 'wiersz 595', 'wiersz 596', 'wiersz 597', 'wiersz 598', 'wiersz 599', 'wiersz 600', 'wiersz 601', 'wiersz 602', 'wiersz 603', 'wiersz 604', 'wiersz 605', 'wiersz 606', 'wiersz 607', 'wiersz 608', 'wiersz 609', 'wiersz 610', 'wiersz 611', 'wiersz 612', 'wiersz 613', 'wiersz 614', 'wiersz 615', 'wiersz 616', 'wiersz 617', 'wiersz 618', 'wiersz 619', 'wiersz 620', 'wiersz 621', 'wiersz 622', 'wiersz 623', 'wiersz 624', 'wiersz 625', 'wiersz 626', 'wiersz 627', 'wiersz 628', 'wiersz 629', 'wiersz 630', 'wiersz 631', 'wiersz 632', 'wiersz 633', 'wiersz 634', 'wiersz 635', 'wiersz 636', 'wiersz 637', 'wiersz 638', 'wiersz 639', 'wiersz 640', 'wiersz 641', 'wiersz 642', 'wiersz 643', 'wiersz 644', 'wiersz 645', 'wiersz 646', 'wiersz 647', 'wiersz 648', 'wiersz 649', 'wiersz 650', 'wiersz 651', 'wiersz 652', 'wiersz 653', 'wiersz 654', 'wiersz 655', 'wiersz 656', 'wiersz 657', 'wiersz 658', 'wiersz 659', 'wiersz 660', 'wiersz 661', 'wiersz 662', 'wiersz 663', 'wiersz 664', 'wiersz 665', 'wiersz 666', 'wiersz 667', 'wiersz 668', 'wiersz 669', 'wiersz 670', 'wiersz 671', 'wiersz 672', 'wiersz 673', 'wiersz 674', 'wiersz 675', 'wiersz 676', 'wiersz 677', 'wiersz 678', 'wiersz 679', 'wiersz 680', 'wiersz 681', 'wiersz 682', 'wiersz 683', 'wiersz 684', 'wiersz 685', 'wiersz 686', 'wiersz 687', 'wiersz 688', 'wiersz 689', 'wiersz 690', 'wiersz 691', 'wiersz 692', 'wiersz 693', 'wiersz 694', 'wiersz 695', 'wiersz 696', 'wiersz 697', 'wiersz 698', 'wiersz 699', 'wiersz 700', 'wiersz 701', 'wiersz 702', 'wiersz 703', 'wiersz 704', 'wiersz 705', 'wiersz 706', 'wiersz 707', 'wiersz 708', 'wiersz 709', 'wiersz 710', 'wiersz 711', 'wiersz 712', 'wiersz 713', 'wiersz 714', 'wiersz 715', 'wiersz 716', 'wiersz 717', 'wiersz 718', 'wiersz 719', 'wiersz 720', 'wiersz 721', 'wiersz 722', 'wiersz 723', 'wiersz 724', 'wiersz 725', 'wiersz 726', 'wiersz 727', 'wiersz 728', 'wiersz 729', 'wiersz 730', 'wiersz 731', 'wiersz 732', 'wiersz 733', 'wiersz 734', 'wiersz 735', 'wiersz 736', 'wiersz 737', 'wiersz 738', 'wiersz 739', 'wiersz 740', 'wiersz 741', 'wiersz 742', 'wiersz 743', 'wiersz 744', 'wiersz 745', 'wiersz 746', 'wiersz 747', 'wiersz 748', 'wiersz 749', 'wiersz 750', 'wiersz 751', 'wiersz 752', 'wiersz 753', 'wiersz 754', 'wiersz 755', 'wiersz 756', 'wiersz 757', 'wiersz 758', 'wiersz 759', 'wiersz 760', 'wiersz 761', 'wiersz 762', 'wiersz 763', 'wiersz 764', 'wiersz 765', 'wiersz 766', 'wiersz 767', 'wiersz 768', 'wiersz 769', 'wiersz 770', 'wiersz 771', 'wiersz 772', 'wiersz 773', 'wiersz 774', 'wiersz 775', 'wiersz 776', 'wiersz 777', 'wiersz 778', 'wiersz 779', 'wiersz 780', 'wiersz 781', 'wiersz 782', 'wiersz 783', 'wiersz 784', 'wiersz 785', 'wiersz 786', 'wiersz 787', 'wiersz 788', 'wiersz 789', 'wiersz 790', 'wiersz 791', 'wiersz 792', 'wiersz 793', 'wiersz 794', 'wiersz 795', 'wiersz 796', 'wiersz 797', 'wiersz 798', 'wiersz 799']

In [30]:
data.index = indeks_wierszy

In [31]:
data.head()

,pokemon 0,pokemon 1,pokemon 2,pokemon 3,pokemon 4,pokemon 5,pokemon 6,pokemon 7,pokemon 8,pokemon 9,pokemon 10,pokemon 11
wiersz 0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
wiersz 1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
wiersz 2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
wiersz 3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
wiersz 4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [32]:
data.tail()

,pokemon 0,pokemon 1,pokemon 2,pokemon 3,pokemon 4,pokemon 5,pokemon 6,pokemon 7,pokemon 8,pokemon 9,pokemon 10,pokemon 11
wiersz 795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
wiersz 796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
wiersz 797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
wiersz 798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
wiersz 799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [36]:
data = pd.read_csv("Python_pokemon_data.csv")

In [37]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [38]:
data.tail()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [39]:
data.Name.head()

0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

In [40]:
data.Name.tail()

795                Diancie
796    DiancieMega Diancie
797    HoopaHoopa Confined
798     HoopaHoopa Unbound
799              Volcanion
Name: Name, dtype: object

In [41]:
data[['Name', 'Type 1', 'HP']].head()

                    Name Type 1  HP
0              Bulbasaur  Grass  45
1                Ivysaur  Grass  60
2               Venusaur  Grass  80
3  VenusaurMega Venusaur  Grass  80
4             Charmander   Fire  39

In [42]:
data[['Name', 'Type 1', 'HP']].tail()

                    Name   Type 1  HP
795              Diancie     Rock  50
796  DiancieMega Diancie     Rock  50
797  HoopaHoopa Confined  Psychic  80
798   HoopaHoopa Unbound  Psychic  80
799            Volcanion     Fire  80

In [43]:
wiersze = range(0, 50, 2)
kolumny = ['Name', 'Type 1', 'HP', 'Speed']
new_data = data.loc[wiersze, kolumny]

In [44]:
print(new_data)

                         Name    Type 1   HP  Speed
0                   Bulbasaur     Grass   45     45
2                    Venusaur     Grass   80     80
4                  Charmander      Fire   39     65
6                   Charizard      Fire   78    100
8   CharizardMega Charizard Y      Fire   78    100
10                  Wartortle     Water   59     58
12    BlastoiseMega Blastoise     Water   79     78
14                    Metapod       Bug   50     30
16                     Weedle       Bug   40     50
18                   Beedrill       Bug   65     75
20                     Pidgey    Normal   40     56
22                    Pidgeot    Normal   83    101
24                    Rattata    Normal   30     72
26                    Spearow    Normal   40     70
28                      Ekans    Poison   35     55
30                    Pikachu  Electric   35     90
32                  Sandshrew    Ground   50     40
34           Nidoran (Female)    Poison   55     41
36                  Nidoqueen    Poison   90     76
38                   Nidorino    Poison   61     65
40                   Clefairy     Fairy   70     35
42                     Vulpix      Fire   38     65
44                 Jigglypuff    Normal  115     20
46                      Zubat    Poison   40     55
48                     Oddish     Grass   45     30

In [45]:
new_data.shape

(25, 4)

In [46]:
data.loc[0:50, 'Name': 'HP']
data.loc[::2, 'Name': 'HP':2].head()

                        Name  Type 2
0                  Bulbasaur  Poison
2                   Venusaur  Poison
4                 Charmander     NaN
6                  Charizard  Flying
8  CharizardMega Charizard Y  Flying

In [47]:
data.iloc[1:4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [48]:
data.iloc[:-4]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
791,715,Noivern,Flying,Dragon,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True

In [49]:
data.iloc[5:]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,44,48,65,50,64,43,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [50]:
data.iloc[4,1]

'Charmander'

In [52]:
war1 = data["Type 1"] == "Grass"
war2 = data["Attack"] > 100
war3 = data["Legendary"] == True

In [53]:
data[war1]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

In [54]:
data[war1&war2]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
77,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False
310,286,Breloom,Grass,Fighting,60,130,80,60,60,70,3,False
363,332,Cacturne,Grass,Dark,70,115,60,115,60,55,3,False
434,389,Torterra,Grass,Ground,95,109,105,75,85,56,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
521,470,Leafeon,Grass,NaN,65,110,130,60,65,95,4,False
551,492,ShayminSky Forme,Grass,Flying,100,103,75,120,75,127,4,True
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False

In [55]:
data[war1 | war3]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [56]:
data[-war3].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [57]:
data.loc[(data["Name"].str.contains("Mega"))]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,79,103,120,135,115,78,1,False
19,15,BeedrillMega Beedrill,Bug,Poison,65,150,40,15,80,145,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
71,65,AlakazamMega Alakazam,Psychic,NaN,55,50,65,175,95,150,1,False
87,80,SlowbroMega Slowbro,Water,Psychic,95,75,180,130,80,30,1,False
102,94,GengarMega Gengar,Ghost,Poison,60,65,80,170,95,130,1,False
124,115,KangaskhanMega Kangaskhan,Normal,NaN,105,125,100,60,100,100,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
141,130,GyaradosMega Gyarados,Water,Dark,95,155,109,70,130,81,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,80,135,85,70,95,150,1,False
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,106,190,100,154,100,130,1,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,106,150,70,194,120,140,1,True
168,154,Meganium,Grass,NaN,80,82,100,83,100,80,2,False
196,181,AmpharosMega Ampharos,Electric,Dragon,90,95,105,165,110,45,2,False
224,208,SteelixMega Steelix,Steel,Ground,75,125,230,55,95,30,2,False
229,212,ScizorMega Scizor,Bug,Steel,70,150,140,65,100,75,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
248,229,HoundoomMega Houndoom,Dark,Fire,75,90,90,140,90,115,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,100,164,150,95,120,71,2,False
275,254,SceptileMega Sceptile,Grass,Dragon,70,110,75,145,85,145,3,False
279,257,BlazikenMega Blaziken,Fire,Fighting,80,160,80,130,80,100,3,False
283,260,SwampertMega Swampert,Water,Ground,100,150,110,95,110,70,3,False
306,282,GardevoirMega Gardevoir,Psychic,Fairy,68,85,65,165,135,100,3,False
327,302,SableyeMega Sableye,Dark,Ghost,50,85,125,85,115,20,3,False
329,303,MawileMega Mawile,Steel,Fairy,50,105,125,55,95,50,3,False
333,306,AggronMega Aggron,Steel,NaN,70,140,230,60,80,50,3,False
336,308,MedichamMega Medicham,Fighting,Psychic,60,100,85,80,85,100,3,False
339,310,ManectricMega Manectric,Electric,NaN,70,75,80,135,80,135,3,False
349,319,SharpedoMega Sharpedo,Water,Dark,70,140,70,110,65,105,3,False
354,323,CameruptMega Camerupt,Fire,Ground,70,120,100,145,105,20,3,False
366,334,AltariaMega Altaria,Dragon,Fairy,75,110,110,110,105,80,3,False
387,354,BanetteMega Banette,Ghost,NaN,64,165,75,93,83,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
397,362,GlalieMega Glalie,Ice,NaN,80,120,80,120,80,100,3,False
409,373,SalamenceMega Salamence,Dragon,Flying,95,145,130,120,90,120,3,False
413,376,MetagrossMega Metagross,Steel,Psychic,80,145,150,105,110,110,3,False
418,380,LatiasMega Latias,Dragon,Psychic,80,100,120,140,150,110,3,True
420,381,LatiosMega Latios,Dragon,Psychic,80,130,100,160,120,110,3,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,105,180,100,180,100,115,3,True
476,428,LopunnyMega Lopunny,Normal,Fighting,65,136,94,54,96,135,4,False
494,445,GarchompMega Garchomp,Dragon,Ground,108,170,115,120,95,92,4,False
498,448,LucarioMega Lucario,Fighting,Steel,70,145,88,140,70,112,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
527,475,GalladeMega Gallade,Psychic,Fighting,68,165,95,65,115,110,4,False
591,531,AudinoMega Audino,Normal,Fairy,103,60,126,80,126,50,5,False
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True

In [58]:
data.loc[~(data["Name"].str.contains("Mega"))].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False

In [59]:
data.sort_values('Name')

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

In [60]:
data.sort_values('Name', ascending = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False

In [61]:
data.sort_values(['Type 1', 'HP'], ascending = [1, 0]).head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False

In [62]:
data["nazwa nowej kolumny"] = 0

In [63]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,nazwa nowej kolumny
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,0
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,0
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,0

In [64]:
data.rename(columns = {"nazwa nowej kolumny" : "suma"}, inplace = True)

In [65]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,suma
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,0
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,0
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,0
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,0

In [66]:
data["suma"] = data.iloc[:, 4:11].sum(axis = 1)

In [67]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,suma
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,319
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,406
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,526
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,626
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,310

In [68]:
data["HP*Speed"] = data["HP"] * data["Speed"]

In [69]:
data.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,suma,HP*Speed
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,319,2025
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,406,3600
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,526,6400
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,626,6400
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,310,2535

In [70]:
data = data.drop(columns = ["#"])
data.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,suma,HP*Speed
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,319,2025
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,406,3600
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,526,6400
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,626,6400
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,310,2535

In [80]:
kolumny = list(data.columns)
data[[kolumny[-2]] + kolumny[1:4] + kolumny[3:10] + [kolumny[-1]]]
data1 = data[[kolumny[-2]] + kolumny[0:4] + kolumny[3:10] + [kolumny[-1]]].head()

In [81]:
data1.head()

,suma,Name,Type 1,Type 2,HP,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,HP*Speed
0,319,Bulbasaur,Grass,Poison,45,45,49,49,65,65,45,1,2025
1,406,Ivysaur,Grass,Poison,60,60,62,63,80,80,60,1,3600
2,526,Venusaur,Grass,Poison,80,80,82,83,100,100,80,1,6400
3,626,VenusaurMega Venusaur,Grass,Poison,80,80,100,123,122,120,80,1,6400
4,310,Charmander,Fire,NaN,39,39,52,43,60,50,65,1,2535

In [82]:
data.loc[data["Type 1"] == "Fire", "Type 1"] = "Flamer"
data.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,suma,HP*Speed
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,319,2025
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,406,3600
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,526,6400
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,626,6400
4,Charmander,Flamer,NaN,39,52,43,60,50,65,1,False,310,2535

In [83]:
data.groupby("Type 1").count().head()

,Name,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,suma,HP*Speed
Type 1,,,,,,,,,,,,
Bug,69,52,69,69,69,69,69,69,69,69,69,69
Dark,31,21,31,31,31,31,31,31,31,31,31,31
Dragon,32,21,32,32,32,32,32,32,32,32,32,32
Electric,44,17,44,44,44,44,44,44,44,44,44,44
Fairy,17,2,17,17,17,17,17,17,17,17,17,17

In [84]:
data.groupby("Type 1").sum().head()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,suma,HP*Speed
Type 1,,,,,,,,,,
Bug,3925,4897,4880,3717,4471,4256,222,0.0,26368,261381
Dark,2071,2740,2177,2314,2155,2361,125,2.0,13943,164325
Dragon,2666,3588,2764,3099,2843,2657,124,12.0,17741,233291
Electric,2631,3040,2917,3961,3243,3718,144,4.0,19654,226138
Fairy,1260,1046,1117,1335,1440,826,70,1.0,7094,66795

In [85]:
data.groupby("Type 1").mean().head()

,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,suma,HP*Speed
Type 1,,,,,,,,,,
Bug,56.884058,70.971014,70.724638,53.869565,64.797101,61.681159,3.217391,0.000000,382.144928,3788.130435
Dark,66.806452,88.387097,70.225806,74.645161,69.516129,76.161290,4.032258,0.064516,449.774194,5300.806452
Dragon,83.312500,112.125000,86.375000,96.843750,88.843750,83.031250,3.875000,0.375000,554.406250,7290.343750
Electric,59.795455,69.090909,66.295455,90.022727,73.704545,84.500000,3.272727,0.090909,446.681818,5139.500000
Fairy,74.117647,61.529412,65.705882,78.529412,84.705882,48.588235,4.117647,0.058824,417.294118,3929.117647

In [86]:
data.groupby(["Type 1", "Type 2", "Generation"]).count().head(30)

                            Name  HP  Attack  Defense  Sp. Atk  Sp. Def  \
Type 1 Type 2   Generation
Bug    Electric 5              2   2       2        2        2        2
       Fighting 2              2   2       2        2        2        2
       Fire     5              2   2       2        2        2        2
       Flying   1              3   3       3        3        3        3
                2              3   3       3        3        3        3
                3              3   3       3        3        3        3
                4              4   4       4        4        4        4
                6              1   1       1        1        1        1
       Ghost    3              1   1       1        1        1        1
       Grass    1              2   2       2        2        2        2
                4              1   1       1        1        1        1
                5              3   3       3        3        3        3
       Ground   3              1   1       1        1        1        1
                4              1   1       1        1        1        1
       Poison   1              6   6       6        6        6        6
                2              2   2       2        2        2        2
                3              1   1       1        1        1        1
                5              3   3       3        3        3        3
       Rock     2              1   1       1        1        1        1
                5              2   2       2        2        2        2
       Steel    2              3   3       3        3        3        3
                4              1   1       1        1        1        1
                5              3   3       3        3        3        3
       Water    3              1   1       1        1        1        1
Dark   Dragon   5              3   3       3        3        3        3
       Fighting 5              2   2       2        2        2        2
       Fire     2              3   3       3        3        3        3
       Flying   2              1   1       1        1        1        1
                4              1   1       1        1        1        1
                5              2   2       2        2        2        2

                            Speed  Legendary  suma  HP*Speed
Type 1 Type 2   Generation
Bug    Electric 5               2          2     2         2
       Fighting 2               2          2     2         2
       Fire     5               2          2     2         2
       Flying   1               3          3     3         3
                2               3          3     3         3
                3               3          3     3         3
                4               4          4     4         4
                6               1          1     1         1
       Ghost    3               1          1     1         1
       Grass    1               2          2     2         2
                4               1          1     1         1
                5               3          3     3         3
       Ground   3               1          1     1         1
                4               1          1     1         1
       Poison   1               6          6     6         6
                2               2          2     2         2
                3               1          1     1         1
                5               3          3     3         3
       Rock     2               1          1     1         1
                5               2          2     2         2
       Steel    2               3          3     3         3
                4               1          1     1         1
                5               3          3     3         3
       Water    3               1          1     1         1
Dark   Dragon   5               3          3     3         3
       Fighting 5               2          2     2         2
       Fire     2               3          3     3         3
       Flying   2               1          1     1         1
                4               1          1     1         1
                5               2          2     2         2

In [87]:
data["Type 2"].isna

<bound method Series.isna of 0      Poison
1      Poison
2      Poison
3      Poison
4         NaN
        ...
795     Fairy
796     Fairy
797     Ghost
798      Dark
799     Water
Name: Type 2, Length: 800, dtype: object>

In [88]:
data["Type 2"].fillna("uzupełniona dana").head(50)

0               Poison
1               Poison
2               Poison
3               Poison
4     uzupełniona dana
5     uzupełniona dana
6               Flying
7               Dragon
8               Flying
9     uzupełniona dana
10    uzupełniona dana
11    uzupełniona dana
12    uzupełniona dana
13    uzupełniona dana
14    uzupełniona dana
15              Flying
16              Poison
17              Poison
18              Poison
19              Poison
20              Flying
21              Flying
22              Flying
23              Flying
24    uzupełniona dana
25    uzupełniona dana
26              Flying
27              Flying
28    uzupełniona dana
29    uzupełniona dana
30    uzupełniona dana
31    uzupełniona dana
32    uzupełniona dana
33    uzupełniona dana
34    uzupełniona dana
35    uzupełniona dana
36              Ground
37    uzupełniona dana
38    uzupełniona dana
39              Ground
40    uzupełniona dana
41    uzupełniona dana
42    uzupełniona dana
43    uzupełniona dana
44               Fairy
45               Fairy
46              Flying
47              Flying
48              Poison
49              Poison
Name: Type 2, dtype: object

In [89]:
data.isna().sum()

Name            0
Type 1          0
Type 2        386
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
suma            0
HP*Speed        0
dtype: int64